/*Logo animation width change and opacity change */
@keyframes logoanimation{
   0%{width: 25px; opacity:0;}
   100%{width: 475px; opacity:1;}
}


#logo{
    animation: logoanimation 5s ease-out;
}


/*Body font change and background image setting  */
body{
    font-family:'Poppins', Serif;
    background-image: url(../images/concrete_seamless.png);
    background-size:cover;
    background-color:#f1f1f1;
}

/*Adjusting headers using flex and styling nav link colors*/
header{
    display: flex;
    flex-direction: column;
    align-items:center;
}

nav a {
    color:#0000ff;
}

nav a:visited{
    color:#0000ff;
}

/* Style direct header elements of card class*/

.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom:20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card{
    display:inline-flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    flex-basis: 450px;
}

.pricing{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
}

/*Style image in gallery*/
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}


@media (min-width:900px) {
   header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   } 

   .nav_links{
    display:inline-flex;
   }

   .card{
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
    flex-basis:275px;
   }

   .pricing{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
   }

   body > header {
    position:sticky;
    top:0;
   }
}

@media (prefers-reduced-motion:reduce){
    .logo{
        animation:none;
    }
}
